@page "/composed-composed-path"
@using Ostomachion.BlazorWebComponents.Demo.Demos.ComposedComposedPath

<PageTitle>composed and composedPath demo</PageTitle>

<h1><code>composed</code> and <code>composedPath</code> demo</h1>

<p>Source: <a href="https://github.com/ostomachion/BlazorWebComponents/tree/main/demo/Ostomachion.BlazorWebComponents.Demo/Demos/ComposedComposedPathDemo">https://github.com/ostomachion/BlazorWebComponents/tree/main/demo/Ostomachion.BlazorWebComponents.Demo/Demos/ComposedComposedPathDemo</a></p>

<OpenShadow Text="I have an open shadow root"></OpenShadow>

<ClosedShadow Text="I have a closed shadow root"></ClosedShadow>

<div>
    <label for="log">Log:</label>
    <br />
    <textarea readonly id="log" cols="80" rows="15"></textarea>
</div>

