@page "/composed-composed-path"
@using Ostomachion.BlazorWebComponents.Demo.Demos.ComposedComposedPath

<PageHeader RelativeSourceUrl="Demos/ComposedComposedPath" PageTitle="composed and composedPath demo">
    <Heading><code>composed</code> and <code>composedPath</code> demo</Heading>
</PageHeader>

<main>
    <OpenShadow Text="I have an open shadow root"></OpenShadow>

    <ClosedShadow Text="I have a closed shadow root"></ClosedShadow>

    <div>
        <label for="log">Log:</label>
        <br />
        <textarea readonly id="log" cols="80" rows="15"></textarea>
    </div>
</main>
