@page "/life-cycle-callbacks"
@using Ostomachion.Blazor.WebComponents.Demo.Demos.LifeCycleCallbacks

<PageHeader RelativeSourceUrl="Demos/LifeCycleCallbacks" PageTitle="Life cycle callbacks test">
    <Heading>Life cycle callbacks test</Heading>
</PageHeader>

<main>

</main>
