@page "/edit-word"
@using Ostomachion.Blazor.WebComponents.Demo.Demos.EditWord

<PageHeader RelativeSourceUrl="Demos/EditWord" PageTitle="edit-word demo">
    <Heading><code>edit-word</code> demo</Heading>
</PageHeader>

<main>
    <PersonDetails PersonAge="36" PersonOccupation="Accountant">
        <PersonName><EditWord Value="Morgan" /> Stanley</PersonName>
    </PersonDetails>

    <p>My name is <EditWord Value="Chris" />, the man said.</p>
</main>
