@page "/editable-list"
@using Ostomachion.Blazor.WebComponents.Demo.Demos.EditableList

<HeadContent>
    <link rel="stylesheet" href="/css/editable-list.css" />
</HeadContent>

<PageHeader RelativeSourceUrl="Demos/EditableList" PageTitle="Editable List | Web Components">
    <Heading>Editable List</Heading>
</PageHeader>

<main>
    @{
        var listItems = new List<ListItem>
        {
            "First item on the list",
            "Second item on the list",
            "Third item on the list",
            "Forth item on the list",
            "Fifth item on the list",
        };
    }
    <EditableList Title="TODO"
                  ListItems="listItems"
                  AddItemText="Add new list item:" />
</main>
