@page "/slotted-pseduo-element"
@using Ostomachion.Blazor.WebComponents.Demo.Demos.SlottedPseudoElement

<PageHeader RelativeSourceUrl="Demos/SlottedPsuedoElement" PageTitle="::slotted example">
    <Heading>::slotted pseudo-element example</Heading>
</PageHeader>

<main>
    <PersonDetails Name="Morgan Stanley"
                   Age="36"
                   Occupation="Accountant" />

    <PersonDetails Name="Dr. Shazaam"
                   Age="Immortal"
                   Occupation="Superhero" />

    <PersonDetails Name="Boris" />
</main>
