@namespace wc 'ostomachion.blazorwebcomponents.demo.demos.definedpseudoclass';

main p {
    background: yellow;
}

main [wc|simplecustom] {
    background: cyan;
}

main :defined {
    font-style: italic;
}

main [wc|simplecustom]:not(:defined) {
    display: none;
}

main [wc|simplecustom]:defined {
    display: block;
}
