@page "/simple-template"
@using Ostomachion.Blazor.WebComponents.Demo.Demos.SimpleTemplate

<PageHeader RelativeSourceUrl="Demos/SimpleTemplate" PageTitle="Simple template">
    <Heading>Simple template</Heading>
</PageHeader>

<main>
    <MyParagraph>
        Let's have some different text!
    </MyParagraph>

    <MyParagraph>
        <ul>
            <li>Let's have some different text!</li>
            <li>In a list!</li>
        </ul>
    </MyParagraph>
</main>
