li, div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    background-color: #fff;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 1.8rem;
}
