@page "/expanding-list"
@using Ostomachion.BlazorWebComponents.Demo.Demos.ElementDetails

<PageHeader RelativeSourceUrl="Demos/ExpandingList" PageTitle="Expanding list web component">
    <Heading>Expanding list web component</Heading>
</PageHeader>

<main>
    <ExpandingList>
        <li>Test</li>
    </ExpandingList>
</main>
