@attribute [CustomElement("element-details")]
@inherits WebComponentBase

<details>
    <summary>
        <span>
            <code class="name">&lt;@ElementName&gt;</code>
            <i class="desc">@Slot[Description]</i>
        </span>
    </summary>
    <div class="attributes">
        <h4><span>Attributes</span></h4>
        @if (IsTemplateDefined(Attributes))
        {
            @Slot[Attributes]
        }
        else
        {
            if (Attributes?.Any() ?? false)
            {
                <dl>
                    @foreach (var item in Attributes)
                    {
                        <dt>@item.Key</dt>
                        <dd>@item.Value</dd>
                    }
                </dl>
            }
            else
            {
                <p>None</p>
            }
        }
    </div>
</details>
<hr>