@inherits WebComponentBase

<details>
    <summary>
        <span>
            <code class="name">&lt;<Slot Name="element-name" For="ElementName">NEED NAME</Slot>&gt;</code>
            <i class="desc"><Slot Name="description" For="Description">NEED DESCRIPTION</Slot></i>
        </span>
    </summary>
    <div class="attributes">
        <h4><span>Attributes</span></h4>
        <Slot Name="attributes" For="Attributes">
            <Template>
                <dl>
                    @foreach (var item in context!)
                    {
                        <dt>@item.Key</dt>
                        <dd>@item.Value</dd>
                    }
                </dl>
            </Template>
            <ChildContent>
                <p>None</p>
            </ChildContent>
        </Slot>
    </div>
</details>
<hr>
