@page "/element-details"
@using Ostomachion.Blazor.WebComponents.Demo.Demos.ElementDetails

<HeadContent>
    <link rel="stylesheet" href="css/element-details.css" />
</HeadContent>

<PageHeader RelativeSourceUrl="Demos/ElementDetails" PageTitle="element-details - web component using &lt;template&gt; and &lt;slot&gt;">
    <Heading>element-details - web component using <code>&lt;template&gt;</code> and <code>&lt;slot&gt;</code></Heading>
</PageHeader>

<main>
    @{
        var slotAttributes = new AttributeList
        {
            ["name"] = @<text>The name of the slot.</text>
        };
    }
    <ElementDetails ElementName="slot" Attributes="slotAttributes">
        <Description>
            A placeholder inside a web component that users
            can fill with their own markup, with the effect
            of composing different DOM trees together.
        </Description>
    </ElementDetails>

    <ElementDetails ElementName="template">
        <Description>
            A mechanism for holding client-side content that is
            not to be rendered when a page is loaded but may
            subsequently be instantiated during runtime using
            JavaScript.
        </Description>
    </ElementDetails>
</main>
