@page "/defined-pseudo-class"
@using Ostomachion.BlazorWebComponents.Demo.Demos.DefinedPseudoClass

<PageHeader RelativeSourceUrl="Demos/DefinedPseudoClass" PageTitle=":defined demo">
    <Heading><code>:defined</code> demo</Heading>
</PageHeader>

<HeadContent>
    @*TODO: Move this source file to be with this page.*@
    <link rel="stylesheet" href="css/defined-pseudo-class.css" />
</HeadContent>

<main>
    <SimpleCustom Text="Custom element example text" />

    <p>Standard paragraph example text</p>
</main>
