@page "/defined-pseudo-class"
@using Ostomachion.BlazorWebComponents.Demo.Demos.DefinedPseudoClass

<PageTitle>:defined demo</PageTitle>

<h1><code>:defined</code> demo</h1>

<nav><a href="/">‹ Back to list.</a></nav>

<p class="source"><strong>Source:</strong> <a href="https://github.com/ostomachion/BlazorWebComponents/tree/main/demo/Ostomachion.BlazorWebComponents.Demo/Demos/DefinedPseudoClass">/BlazorWebComponents/demo/Ostomachion.BlazorWebComponents.Demo/Demos/DefinedPseudoClass</a></p>

<SimpleCustom Text="Custom element example text" />

<p>Standard paragraph example text</p>
