@page "/defined-pseudo-class"
@using Ostomachion.BlazorWebComponents.Demo.Demos.DefinedPseudoClass

<PageTitle>:defined demo</PageTitle>
<HeadContent>
    <style>
        /* TODO: Figure out the right way to move this to a CSS file without turning on CSS isolation.*/
        main p {
            background: yellow;
        }

        main simple-custom {
            background: cyan;
        }

        main :defined {
            font-style: italic;
        }

        main simple-custom:not(:defined) {
            display: none;
        }

        main simple-custom:defined {
            display: block;
        }
    </style>
</HeadContent>

<header>
    <h1><code>:defined</code> demo</h1>

    <nav><a href="/">‹ Back to list.</a></nav>

    <p class="source"><strong>Source:</strong> <a href="https://github.com/ostomachion/BlazorWebComponents/tree/main/demo/Ostomachion.BlazorWebComponents.Demo/Demos/DefinedPseudoClass">/BlazorWebComponents/demo/Ostomachion.BlazorWebComponents.Demo/Demos/DefinedPseudoClass</a></p>
</header>

<main>
    <SimpleCustom Text="Custom element example text" />

    <p>Standard paragraph example text</p>
</main>
