@page "/defined-pseudo-class"
@using Ostomachion.BlazorWebComponents.Demo.Demos.DefinedPseudoClass

<PageHeader RelativeSourceUrl="Demos/DefinedPseudoClass" PageTitle=":defined demo">
    <Heading><code>:defined</code> demo</Heading>
</PageHeader>

<HeadContent>
    <style>
        /* TODO: Figure out the right way to move this to a CSS file without turning on CSS isolation.*/
        main p {
            background: yellow;
        }

        main simple-custom {
            background: cyan;
        }

        main :defined {
            font-style: italic;
        }

        main simple-custom:not(:defined) {
            display: none;
        }

        main simple-custom:defined {
            display: block;
        }
    </style>
</HeadContent>

<main>
    <SimpleCustom Text="Custom element example text" />

    <p>Standard paragraph example text</p>
</main>
