@inherits WebComponentBase<EditWord>

@{
    HostAttributes["tabindex"] = 0;
}

<form @onsubmit="FormSubmit" @onsubmit:preventDefault="true">
    <input @ref="_input"
           @bind="Value"
           required
           hidden="@(!Editing)"
           @onblur="LabelBlur" />
</form>
<span @ref="_span" hidden="@Editing" @onclick="TextClickAsync">@Value</span>
