@inherits WebComponentBase<EditWord>

@{
    HostAttributes["tabindex"] = 0;
}

<form>
    <input hidden="@(!Editing)" required @bind="Value" @ref=_input @onblur="LabelBlur" />
</form>
<span hidden="@Editing" @onclick="TextClick">@Value</span>
