@inherits WebComponentBase

<div>
    <h2>Personal ID Card</h2>
    @Slot(nameof(PersonName))
    <ul>
        <li>@Slot(nameof(PersonAge))</li>
        <li>@Slot(nameof(PersonOccupation))</li>
    </ul>
</div>