@attribute [CustomElement("person-details")]
@inherits WebComponentBase

<div>
    <h2>Personal ID Card</h2>
    @Slot[PersonName]
    <ul>
        <li>@Slot[PersonAge]</li>
        <li>@Slot[PersonOccupation]</li>
    </ul>
</div>