@page "/pop-up-info-box"
@using Ostomachion.BlazorWebComponents.Demo.Demos.PopUpInfoBox

<PageHeader RelativeSourceUrl="Demos/PopUpInfoBox" PageTitle="Pop up info box - web components">
    <Heading>Pop-up info widget - web components</Heading>
</PageHeader>

<main>
    
</main>
