@page "/element-details"

<h1>element-details - web component using <code>&lt;template&gt;</code> and <code>&lt;slot&gt;</code></h1>

@{
    var slotAttributes = new List<AttributeDefinition>
    {
        new ("name", "the name of the slot.")
    };
}
<ElementDetails ElementName="slot" Attributes="slotAttributes">
    <Description>
        A placeholder inside a web component that users
        can fill with their own markup, with the effect
        of composing different DOM trees together.
    </Description>
    <AttributesTemplate>
        @if (context.Any())
        {
            <dl>
                @foreach (var item in context)
                {
                    <dt>@item.Name</dt>
                    <dd>@item.Definition</dd>
                }
            </dl>
        }
    </AttributesTemplate>
</ElementDetails>

<ElementDetails ElementName="template">
    <Description>
        A mechanism for holding client-side content that is
        not to be rendered when a page is loaded but may
        subsequently be instantiated during runtime using
        JavaScript.
    </Description>
</ElementDetails>
